API_HOST=Web service host name (required, when Compose is used, it will be name of container)
API_PORT=Web service port on host machine
WORKERS=Number of workers (default is 1)
EXTERNAL_API_TIMEOUT=Timeout when accessing third-party APIs (default is 10 s)
LOG_LEVEL=Uvicorn built-in logger level (default is trace)

DB_SCHEMA=DBMS «name+driver» or only name (required)
DB_HOST=DBMS service host name (required, when Compose is used, it will be name of container)
DB_USER=DBMS user name (required)
DB_PASSWORD=DBMS user password (required)
DB_NAME=Name of DB located in DBMS (required)
POOL_MIN_SIZE=Minimum number of connections (default is 10)
POOL_MAX_SIZE=Maximum number of connections (default is 10)
MAX_QUERIES=Queries limit per connection (default is 50000)
MAX_INACTIVE_CONNECTION_LIFETIME=Maximum time of connection inactivity (default is 300 s)
DB_TIMEOUT=Timeout for acquiring connection (default is 5 s)

ALLOWED_HOSTS=Trusted hosts list (default is only localhost, more info — https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Host)
ALLOWED_ORIGINS=CORS allowed origins list (default is no one, more info — https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin)
ALLOWED_ORIGINS_REGEX=CORS allowed origins regex (default is no one, more info — https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin)
ALLOWED_METHODS=CORS allowed methods (default is GET, more info — https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Methods)
ALLOWED_HEADERS=CORS allowed headers (default is no one, more info — https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Headers)
EXPOSED_HEADERS=CORS allowed headers for JS (default is no one, more info — https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Expose-Headers)
IS_CREDENTIALS=Whether to allow sensitive data transfer (default is no, more info — https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Credentials)
CACHE_TIME=CORS preflight requests result cache time (default is 600 s, more info — https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Max-Age)

COMPRESSION_MIN_SIZE=GZip min size (default is 500, more info — https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Encoding)
COMPRESSION_LEVEL=GZip level (default is 9, more info — https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Encoding)

TITLE=Project name (required)
SUMMARY=Project brief description (default is empty)
DESCRIPTION=Project full description (default is empty)
VERSION=Project version according to semantic versioning notation (required, more info — https://semver.org)
TERMS_OF_SERVICE=URL to terms of service (default is empty)
CONTACT=Dict with «name», «url» and «email» (default is empty)
LICENSE=Dict with «name» and «url» (default is «GNU General Public License v3.0 only»)

OPENAPI=Endpoint to OpenAPI documentation JSON file (default is hidden, more info — https://www.openapis.org)
DOCS=Endpoint to Swagger UI (default is hidden, more info — https://swagger.io/tools/swagger-ui)
REDOC=Endpoint to Redoc (default is hidden, more info — https://redocly.com/redoc)
